---
interface Props {
  title: string
  description: string
  link?: string
  date: string
  projectTitle?: string
}

const { title, description, link, date, projectTitle } = Astro.props
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border bg-yellow-200"
>
</div>
<time class="mb-1 text-lg font-normal text-pretty text-cyan-500">{date}</time
>
<h3 class="text-lg font-semibold text-light-green mt-2 text-pretty">
  {title}
</h3>
<p class="mb-4 text-base font-normal text-pretty text-white">
  {description}
</p>
{
  link && (
    <a
      href={link}
      target="_blank"
      class="text-cyan-500"
    >
      {projectTitle}
    </a>
  )
}